

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#home, #products, #cart{
    background-color: #4C4A4A;
    color: white;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}


.product-list {
    display: flex;
    justify-content: space-around;
}

.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    background-color: aliceblue;
    color: black;
}

.product-item button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #218838;
}

#cart-items {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#cart-items p {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#total {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

#checkout {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#checkout:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding:0px; 
}
p#footertxt {
    font-size: 12px;
}  
img.ProductsLst {
    width: 57px;
}